.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 12px auto 0 37px;
  padding: 10px 56px 10px 55px;
}

.u-section-1 .u-tabs-1 {
  min-height: 398px;
  height: auto;
  width: 1140px;
  margin: 77px -12px 60px auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-table-1 {
  width: 1043px;
  margin: 0 auto 0 0;
}

.u-block-2c41-39 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-table-2 {
  width: 1043px;
  margin: 0 auto 0 0;
}

.u-block-2c41-155 {
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 503px;
  height: 315px;
  margin: 30px auto 0 22px;
}

.u-section-1 .u-text-1 {
  margin: -282px 190px 0 392px;
}

.u-section-1 .u-text-2 {
  margin: 10px 190px 0 392px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 10px 190px 0 392px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 880px;
  }

  .u-section-1 .u-table-2 {
    width: 880px;
  }

  .u-section-1 .u-image-1 {
    height: 368px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -335px;
    margin-right: 90px;
    margin-left: 451px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 90px;
    margin-left: 451px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 90px;
    margin-left: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 660px;
  }

  .u-section-1 .u-table-2 {
    width: 660px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 377px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -377px;
    margin-right: 0;
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 330px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-2 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 763px;
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }

  .u-section-1 .u-table-2 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 255px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-block-2e67-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2e67-3 {
  position: absolute;
  left: 0;
}

.u-block-2e67-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ScreenShot2023-05-21at6.31.47PM.png");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ScreenShot2023-05-21at6.40.52PM.png");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3.75rem;
  }
}